html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f4f0cb;
    color: #685642;
    font-family: 'Lora', serif;
    font-size: 16pt;
}

/* Login, Signup */
h1 {
    width: 100%;
    margin: 0;
    padding: 0.5em 0 0 0;
    color: #8e996b;
    text-align: center;
    font-family: 'Fuzzy Bubbles', serif;
    font-size: 48pt;
}

p {
    width: 100%;
    margin: 0.5em auto;
    font-style: italic;
    text-align: center;
}

p .fas {
    color: #8e996b;
    font-size: 48pt;
}

.hori-border {
    height: 1px;
    width: 50%;
    margin: 1em auto;
    background-color: #685642;
}

nav .loginNav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.vert-border {
    height: 50px;
    width: 1px;
    margin: 0 1em;
    background-color: #685642;
}

.navlink {
    margin: 0 3em;
    font-weight: bold;
}

.navlink a, 
.navlink a:visited {
    color: #8e996b;
    text-decoration: none;
}

.navlink a:hover {
    color: #b7c68b;
}

.navlink a.current, 
.navlink a.current:visited, 
.navlink a.current:hover {
    color: #685642;
    text-decoration: none;
}

.error {
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
    color: red;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    height: 10em;
}

#signupForm {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    height: 13em;
}

#content label {
    display: block;
    font-size: 12pt;
    font-weight: bold;
}

#content input[type=text], input[type=password] {
    padding: 0.3em;
    background-color: #dedea7;
    border: 2px solid #685642;
    border-radius: 4pt;
    color: #685642;
    font-weight: bold;
    font-size: 10pt;
    font-family: 'Lora', serif;
}

#content input[type=submit] {
    margin: 0.5em 0 0 0;
    padding: 0.3em;
    background-color: #f4f0cb;
    border: 2px solid #8e996b;
    border-radius: 4pt;
    color: #8e996b;
    font-weight: bold;
    font-size: 16pt;
    font-family: 'Lora', serif;
}

input[type=submit]:hover {
    background-color: #8e996b;
    border-color: #8e996b;
    color: #f4f0cb;
}

/* App */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.appNav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}