html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f4f0cb;
    color: #685642;
    font-family: 'Lora', serif;
    font-size: 16pt;
}

/* Login, Signup */
h1 {
    width: 100%;
    margin: 0;
    padding: 0.5em 0 0 0;
    color: #8e996b;
    text-align: center;
    font-family: 'Fuzzy Bubbles', serif;
    font-size: 48pt;
}

p {
    width: 100%;
    margin: 0.5em auto;
    font-style: italic;
    text-align: center;
}

p .fas {
    color: #8e996b;
    font-size: 48pt;
}

.hori-border {
    height: 1px;
    width: 50%;
    margin: 1em auto;
    background-color: #685642;
}

.loginNav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.vert-border {
    height: 50px;
    width: 1px;
    margin: 0 1em;
    background-color: #685642;
}

.navlink {
    margin: 0 3em;
    font-weight: bold;
}

.navlink a, 
.navlink a:visited {
    color: #8e996b;
    text-decoration: none;
}

.navlink a:hover {
    color: #b7c68b;
}

.navlink a.current, 
.navlink a.current:visited, 
.navlink a.current:hover {
    color: #685642;
    text-decoration: none;
}

.error {
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
    color: red;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    height: 10em;
}

#signupForm {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    height: 13em;
}

#content label {
    display: block;
    font-size: 12pt;
    font-weight: bold;
}

input[type=text], input[type=password], input[type=date] {
    padding: 0.3em;
    background-color: #dedea7;
    border: 2px solid #685642;
    border-radius: 4pt;
    color: #685642;
    font-weight: bold;
    font-size: 10pt;
    font-family: 'Lora', serif;
}

#content input[type=submit] {
    margin: 0.5em 0 0 0;
    padding: 0.3em;
    background-color: #f4f0cb;
    border: 2px solid #8e996b;
    border-radius: 4pt;
    color: #8e996b;
    font-weight: bold;
    font-size: 16pt;
    font-family: 'Lora', serif;
}

#content input[type=submit]:hover {
    background-color: #8e996b;
    border-color: #8e996b;
    color: #f4f0cb;
}

/* App */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.mainNav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: #d4e5a1;
}

.appNav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.appNav .fas {
    color: #8e996b;
    font-size: 36pt;
    margin: 0.2em 0.5em;
}

#userStatus {
    font-size: 14pt;
    font-weight: bold;
}

#userStatus .fas {
    font-size: 12pt;
    margin: 0;
}

.premium, 
.premium .fas
{
    color: goldenrod;
}

main {
    margin: 5% 15%;
    padding: 2%;
    border-radius: 1em;
    background-color: #d4e5a1;
}

.topPanel {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

#addButton {
    background-color: transparent;
    border: none;
    color: #8e996b;
    font-family: 'Lora', serif;
    font-size: 16pt;
    font-weight: bold;
}

#addButton:hover {
    color: #b7c68b;
}

#addButton .fas {
    padding: 0.5em;
}

#sortPanel {
    font-size: 12pt;
}

select {
    background-color: #dedea7;
    border: 2px solid #685642;
    border-radius: 4pt;
    color: #685642;
    font-weight: bold;
    font-size: 12pt;
    font-family: 'Lora', serif;
}

input[type=radio] {
    display: none;
}

#sortPanel label .fas {
    padding: 0 0 0 0.5em;
}

#sortPanel label .fas:hover {
    color: #8e996b;
}

.plantList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.plant {
    width: 12em;
    margin: 1em;
    padding: 1em;
    background-color: #f4f0cb;
    border-radius: 1em;
    text-align: center;
}

.plant img {
    border: 2px solid #685642;
}

.plant h3 {
    text-align: left;
    font-size: 14pt;
    font-weight: normal;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.deletePlant {
    margin: 0.5em 0 0 0;
    padding: 0.3em;
    background-color: #f4f0cb;
    border: 2px solid firebrick;
    border-radius: 4pt;
    color: firebrick;
    font-weight: bold;
    font-size: 12pt;
    font-family: 'Lora', serif;
}

.deletePlant:hover {
    background-color: firebrick;
    border-color: firebrick;
    color: #f4f0cb;
}

.editPlant {
    margin: 0.5em 0 0 0;
    padding: 0.3em;
    background-color: #f4f0cb;
    border: 2px solid #8e996b;
    border-radius: 4pt;
    color: #8e996b;
    font-weight: bold;
    font-size: 12pt;
    font-family: 'Lora', serif;
}

.editPlant:hover {
    background-color: #8e996b;
    border-color: #8e996b;
    color: #f4f0cb;   
}

#plantForm,
.editing-plant,
#passwordChangeForm,
#premiumForm {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ded29e;
    border-radius: 1em;
    color: #685642;
    background-color: #f4f0cb;
}

#plantForm, 
.editing-plant {
    height: 25em;
}
  
#passwordChangeForm {
    height: 15em;
}

#premiumForm {
    height: 5em;
}

#closeButton {
    position: relative;
    width: 100%;
    color: #685642;
}

#closeButton i:hover {
    color: firebrick;
}
  
#closeButton i {
    float: right;
}

#modal input[type=submit] {
    width: 100%;
    margin: 0.5em 0 0 0;
    padding: 0.3em;
    background-color: #f4f0cb;
    border: 2px solid #8e996b;
    border-radius: 4pt;
    color: #8e996b;
    font-weight: bold;
    font-size: 12pt;
    font-family: 'Lora', serif;
}

#modal input[type=submit]:hover {
    background-color: #8e996b;
    border-color: #8e996b;
    color: #f4f0cb;
}

.inlineAd {
    width: 13em;
    height: 20em;
    margin: 1em;
    border-radius: 1em;
    border: 2px solid #685642;
}

#adLeft {
    float: left;
    width: 14%;
    height: 111vh;
    margin-top: 5%;
    border: 2px solid #685642;
}

#adRight {
    float: right;
    width: 14%;
    height: 111vh;
    margin-top: 5%;
    border: 2px solid #685642;
}